{"editor.defaultFormatter": "esbenp.prettier-vscode",
  "editor.formatOnSave": true,
  "singleQuote": true,
 "editor.formatOnPaste": false,  
   "semi": false,
  "useTabs": false,
  "bracketSpacing": false,
  "printWidth": 140,
  "trailingComma": "all"
}
